<mat-card class="flex flex-col h-full" appearance="outlined">
    <div class="relative p-4">
        <div class="aspect-[3/4] overflow-hidden rounded-md group">
            @if (game().isRunning) {
            <div class="absolute top-2 right-2 z-10">
                <span
                    class="inline-flex items-center rounded-md bg-red-600 px-2.5 py-1 text-xs font-medium text-white shadow-lg"
                >
                    <span class="absolute -left-1 -top-1 h-3.5 w-3.5">
                        <span
                            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-red-400 opacity-75"
                        ></span>
                        <span
                            class="relative inline-flex rounded-full h-3 w-3 bg-red-500"
                        ></span>
                    </span>
                    <span class="ml-2">Jugando...</span>
                </span>
            </div>
            }

            <img
                [ngSrc]="game().coverImage"
                [alt]="game().name"
                width="300"
                height="400"
                priority
                class="object-cover w-full h-full transition-transform duration-300 ease-in-out group-hover:scale-105"
            />
        </div>
    </div>

    <mat-card-content class="flex-grow px-4">
        <h3 class="text-base font-semibold truncate" [title]="game().name">
            {{ game().name }}
        </h3>
        <p
            class="text-xs text-gray-500 dark:text-gray-400 flex items-center gap-1 mt-1"
        >
            <mat-icon class="text-sm w-4 h-4">history</mat-icon>
            <span>{{ game().playtime }}</span>
        </p>
    </mat-card-content>

    <mat-card-actions class="flex justify-end px-2 pt-0">
        <button
            mat-icon-button
            (click)="onFavoriteClick()"
            [matTooltip]="game().favorite ? 'Quitar favorito' : 'Marcar favorito'"
        >
            <mat-icon [class]="{ '!text-yellow-400': game().favorite }"
                >{{ game().favorite ? "star" : "star_border" }}</mat-icon
            >
        </button>

        <button
            mat-icon-button
            [matTooltip]="playStopTooltip()"
            (click)="onPlayStopClick()"
            color="primary"
        >
            <mat-icon>{{ playStopIcon() }}</mat-icon>
        </button>

        <button
            mat-icon-button
            matTooltip="Configuración"
            (click)="onSettingsClick()"
            color="primary"
        >
            <mat-icon>settings</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>
