@use "@angular/material" as mat;

html {
    color-scheme: light dark;

    @include mat.theme(
        (
            color: mat.$violet-palette,
            typography: Roboto,
            density: 0,
        )
    );
}

body {
    margin: 0;
    height: 100vh;
    background: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

html.light-mode {
    color-scheme: light;
}

html.dark-mode {
    color-scheme: dark;
}

/* Tailwind */
@import "tailwindcss";
